@font-face  {
    font-family: MargemBlack;
    src:  url(/static/fonts/Margem-Black.woff2) format('woff2');
    font-weight: 900;
    font-style:normal
  }
  @font-face  {
    font-family: MargemMedium;
    src:  url(/static/fonts/Margem-Medium.woff2) format('woff2');
    font-weight: 900;
    font-style:normal
  }
  @font-face  {
    font-family: MargemBold;
    src:  url(/static/fonts/Margem-Bold.woff2) format('woff2');
    font-weight: 900;
    font-style:normal
  }
  @font-face  {
    font-family: MargemRegular;
    src:  url(/static/fonts/Margem-Regular.woff2) format('woff2');
    font-weight: 900;
    font-style:normal
  }
  
  @font-size-regular: 1rem;
  @color-regular: #333;
  @color-idwall: #50f;